## Assignment #1 
Exploratory data analysis with Pandas
In this task you should use Pandas to answer a few questions about the Adult dataset. Link to dataset: https://www.kaggle.com/kashnitsky/mlcourse?select=adult.data.csv

In [1]:
import pandas as pd

In [11]:
%cd C:\Users\masha\Downloads

C:\Users\masha\Downloads

In [13]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
data.sex.value_counts() # male are twice bigger

Male      21790
Female    10771
Name: sex, dtype: int64

In [16]:
data[data.sex == 'Female'].age.mean() # 36.9 years is the avrg age for women

36.85823043357163

In [17]:
data[data.sex == 'Male'].age.mean() # 39 years is the avrg age for men

39.43354749885268

In [19]:
data['native-country'].value_counts()[:10]

United-States    29170
Mexico             643
?                  583
Philippines        198
Germany            137
Canada             121
Puerto-Rico        114
El-Salvador        106
India              100
Cuba                95
Name: native-country, dtype: int64

In [21]:
data['native-country'].value_counts()['Germany'] / data.shape[0] # 0.4% are German citizens

0.004207487485028101

In [23]:
data.salary.value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

In [27]:
df1 = data[data.salary == '<=50K'].age
df2 = data[data.salary == '>50K'].age
print('The average age and its std for richer people: {}, {};\nFor poorer is {}, {}'.format(round(df2.mean()), round(df2.std(),2), round(df1.mean()), round(df1.std(),2)))
# the poorer people have more spread, but it can be due to the fact that we have more poor people

The average age and its std for richer people: 44, 10.52;
For poorer is 37, 14.02

In [28]:
data[data.salary == '>50K'].education.unique()
# rich people are not only coming from high education, there are also graduators from school

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

In [29]:
data.groupby(['race', 'sex']).age.describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [33]:
data['marital-status'].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

In [34]:
data[(data.sex == 'Male')&(data['marital-status'].isin(
    ['Never-married', 'Separated', 'Divorced', 'Widowed']))].salary.value_counts() # proportion 11:1
# when a man is unmarried he's prone to be poorer

<=50K    7552
>50K      697
Name: salary, dtype: int64

In [36]:
data[(data.sex == 'Male')&(data['marital-status'].str.startswith('Married'))].salary.value_counts() # proportion 1.3:1
# otherwise, when he has higher possibility to earn more than 50K

<=50K    7576
>50K     5965
Name: salary, dtype: int64

In [41]:
data['hours-per-week'].describe() # max 99 hours or about 14 hours every day

count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours-per-week, dtype: float64

In [44]:
data[data['hours-per-week'] == 99].shape[0], data.shape[0] # 85 people work 99 h.per weak, less than 1% of the df

(85, 32561)

In [46]:
data[(data['hours-per-week'] == 99)&(data.salary == '>50K')].shape[0]

25

In [47]:
25/85 # 29% of those who work 99 hours earn more than 50K

0.29411764705882354

In [55]:
pd.crosstab(data['native-country'], data['salary'], values=data['hours-per-week'], aggfunc='mean').round(2)
# i.e. there's a pretty difference in Columbia (38 vs. 50), Hungary (31 vs. 50)

salary                      <=50K   >50K
native-country
?                           40.16  45.55
Cambodia                    41.42  40.00
Canada                      37.91  45.64
China                       37.38  38.90
Columbia                    38.68  50.00
Cuba                        37.99  42.44
Dominican-Republic          42.34  47.00
Ecuador                     38.04  48.75
El-Salvador                 36.03  45.00
England                     40.48  44.53
France                      41.06  50.75
Germany                     39.14  44.98
Greece                      41.81  50.62
Guatemala                   39.36  36.67
Haiti                       36.33  42.75
Holand-Netherlands          40.00    NaN
Honduras                    34.33  60.00
Hong                        39.14  45.00
Hungary                     31.30  50.00
India                       38.23  46.48
Iran                        41.44  47.50
Ireland                     40.95  48.00
Italy                       39.62  45.40
Jamaica                     38.24  41.10
Japan                       41.00  47.96
Laos                        40.38  40.00
Mexico                      40.00  46.58
Nicaragua                   36.09  37.50
Outlying-US(Guam-USVI-etc)  41.86    NaN
Peru                        35.07  40.00
Philippines                 38.07  43.03
Poland                      38.17  39.00
Portugal                    41.94  41.50
Puerto-Rico                 38.47  39.42
Scotland                    39.44  46.67
South                       40.16  51.44
Taiwan                      33.77  46.80
Thailand                    42.87  58.33
Trinadad&Tobago             37.06  40.00
United-States               38.80  45.51
Vietnam                     37.19  39.20
Yugoslavia                  41.60  49.50